<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <renderField>
        <processor type="Sitecore.Support.Pipelines.RenderField.PullRTEfragments, Sitecore.Support.325348" patch:before="processor[@type='Sitecore.Pipelines.RenderField.ExpandLinks, Sitecore.Kernel']" />
        <processor type="Sitecore.Support.Pipelines.RenderField.PushRTEfragments, Sitecore.Support.325348" patch:after="processor[@type='Sitecore.Pipelines.RenderField.RenderWebEditing, Sitecore.Kernel']" />
        <processor type="Sitecore.Pipelines.RenderField.SetAnchorsPositionInLinks, Sitecore.Kernel" >
          <patch:delete />
        </processor>
      </renderField>
    </pipelines>
  </sitecore>
</configuration>